.wrapper {
    // display: flex;
    // flex-wrap: wrap;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(6, 15rem);
    grid-gap: 0rem;
    align-content: flex-start;
    margin-top: 2rem;
    padding: 0;
    overflow: hidden;

    .cardContainer {
        display: flex;
        position: relative;
    }
}
